<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head') %>
</head>

<body class="container">
    <header>
        <%- include('../partials/header') %>
    </header>
 
    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>
    
    <script src="/socket.io/socket.io.js"></script>
    <script> 
    var socket = io.connect('http://localhost:8080');
    </script>
    
 

    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>
</html>